# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/
.dmypy.json
.pytype/

# Build / dist
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/
.eggs/

# Environments / OS
.venv
venv/
env/
ENV/
.DS_Store
